$border-pixel: 1px;
$border-style: solid;
$border-color: #ccc;

@media only screen and (min-width: 300px) {
  .question-container {
    border: $border-pixel $border-style $border-color;
    width: 350px;
    height: 50vh;
    box-shadow: 2px 2px 2px 2px #eee;

    .question-title {
      font-size: 18px;
      font-weight: 100;
    }

    form {
      margin: 5%;
      input {
        width: 100px;
        height: 30px;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .question-container {
    border: $border-pixel $border-style $border-color;
    width: 1025px;
    height: 50%;
    display: flex;
    justify-content: left;
    box-shadow: 2px 2px 2px 2px #eee;

    .question-title {
      font-size: 24px;
      font-weight: 100;
    }

    form {
      margin: 5%;
      position: relative;
    }
  }
}
